@font-face {
  font-family: "iconfont"; /* Project id 2727482 */
  src: url('//at.alicdn.com/t/font_2727482_qtkaa2zmi.woff2?t=1628492997118') format('woff2'),
       url('//at.alicdn.com/t/font_2727482_qtkaa2zmi.woff?t=1628492997118') format('woff'),
       url('//at.alicdn.com/t/font_2727482_qtkaa2zmi.ttf?t=1628492997118') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang_quxiaoshoucang:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e6c1";
}

.icon-shoucang2:before {
  content: "\e7c5";
}

.icon-sucai:before {
  content: "\e60d";
}

.icon-fensi:before {
  content: "\e609";
}

.icon-fabu:before {
  content: "\e6f8";
}

.icon-neirong:before {
  content: "\e628";
}

.icon-mima:before {
  content: "\e611";
}

.icon-retouch:before {
  content: "\e600";
}

.icon-index-copy:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e602";
}

.icon-shouji:before {
  content: "\e60b";
}

