@font-face {
  font-family: "iconfont"; /* Project id 2744063 */
  src: url('//at.alicdn.com/t/font_2744063_9u3gpfahy79.woff2?t=1628858698642') format('woff2'),
       url('//at.alicdn.com/t/font_2744063_9u3gpfahy79.woff?t=1628858698642') format('woff'),
       url('//at.alicdn.com/t/font_2744063_9u3gpfahy79.ttf?t=1628858698642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-mima:before {
  content: "\e60a";
}

.iconfont-shouji:before {
  content: "\e60b";
}

